# Node & Next.js
node_modules/
.next/
out/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vscode/
.idea/

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
venv/
env/

# OS / IDE artefacts
.DS_Store

# Logs
logs
*.log
